<p-toast position="top-right"></p-toast>
<div class="background-box">
    <div class="container">
        <div class="left-panel">
            <img src="imagem-vacina-login.png" alt="Vacina" class="illustration">
        </div>

        <div class="right-panel">
            <div class="login-box">
                <h2>Login</h2>
                <form action="tela-enfermeiro.htm" method="get">
                <label for="usuario">Usuário</label>
                <input [(ngModel)]="form.usuario" type="text" id="usuario" name="usuario" placeholder="Digite seu usuário...">

                <label for="senha">Senha</label>
                <input [(ngModel)]="form.senha" type="password" id="senha" name="senha" placeholder="Digite sua senha...">

                <button (click)="logar()">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>