<div class="container">

    <header>
        <nav class="navbar">
            <div class="navbar-left">
                <a class="logo" routerLink="/logado">imune+</a>
            </div>
            <div class="navbar-right">

                <img [src]="usuario?.imagem_perfil || '/standard-user.jpg'" alt="Foto de perfil" class="icon-profile">
                <div class="name-user"><span> {{ nome }} </span></div>
            </div>
        </nav>
    </header>

    <div class="menu">
        <div class="options">
            <div>
                <img src="icon_smile.png" alt="Smile">            
                <a class="your-profile" (click)="mostrarPerfil()">Seu Perfil</a>
            </div>
            <div>
                <img src="icon_vaccine.png" alt="Vaccine">
                <a class="your-vaccines" (click)="mostrarVacinas()">Suas Vacinas</a>
            </div>
            <div>
                <!-- aqui tem que colocar um componente angular icone
                <a routerLink="#" class="calendar">Calendário</a> -->
            </div>
        </div>
    </div>

    <div>
        @if(perfilDados === true) {
            <app-perfil></app-perfil>
        } 
        @if(vacinasLista === true) {
            <app-vacinas></app-vacinas>
        }
    </div>

    <div class="page-content">
        <!-- conteúdo da página -->
    </div>
</div>
