<div class="form-container">
  <div class="top">
    <img id="fotoUsuario" src="/default-icon.jpg" alt="Foto do Usuário" class="foto-usuario">
  </div>

  <div class="left-form">
    <div class="form-row">
      <label>Nome</label>
      <input type="text" pInputText placeholder="Digite o nome completo.." />
    </div>

    <div class="form-row">
      <label>Usuário</label>
      <input type="text" pInputText placeholder="Digite o nome de usuário.." />
    </div>

    <div class="form-row">
      <label>Senha</label>
      <input type="text" pInputText placeholder="Digite uma senha.." />
    </div>

    <div class="form-row">
      <label>Cargo</label>
      <p-select [options]="userTypes" [(ngModel)]="selecteduserType" optionLabel="name" placeholder="Selecione o cargo" class="w-full md:w-56" />
    </div>
  </div>

  <div class="buttons">
    <p-button label="Remover perfil" variant="outlined" severity="danger" />
    <p-button label="Alterar dados" severity="success" />
  </div>
</div>
