<div class="container">
    <header>

        <div class="navbar-right"></div>

        <div class="navbar-left">
            <span>Pesquisar</span>

            <p-floatlabel variant="in">
                <input pInputText id="in_label" [(ngModel)]="filtroPesquisa" (input)="filtrarPaciente()" autocomplete="off" />
                <label for="in_label">Procure por um usuário...</label>
            </p-floatlabel>
        </div>
    </header>

    <div class="registered-patients" *ngFor="let paciente of pacientesFiltrados">

        <div class="patient">
            <div class="right-info">
                <strong class="name"> {{ paciente.nome_completo }} </strong>
            </div>

            <div class="left-info">
                <p class="cpf"> {{ paciente.cpf }} </p>
                <p-button label="Acessar" severity="contrast" (click)="acessarPaciente(paciente.cpf)" />
            </div>
        </div>
    </div>

</div>