.bar-profile {
    display: flex;
    margin-top: 71px;
    padding-left: 250px;
    height: 50px;
    width: 100%;
    text-align: center;
    background-color: #047857;
    border: 1px solid #0a6448; 
    padding-top: 5px;
    padding-bottom: 5px;
}


.id-leftbar {
    height: 100%;
    width: 40%;
    color: white;
    
    span {
        display: flex;
        padding: 25px 0 0 10px;
        font-weight: bold;
        font-size: 14px;
    }
}


.cartela-vacinas-user .vaccine {
    width: 100%;
    display: flex;
    background-color: #f0f0f0;

    ul {
        list-style-type: none;
    }

    p {
        padding-left: 15px;
        margin-bottom: 10px;
        font-weight: bold;
    }

    span {
        padding-left: 15px;
    }

    .dose{
        font-size: 12px;
        font-weight: bold;
    }
}

.vaccine-item {
  display: flex;
  align-items: center; 
  gap: 1rem; 
  padding: 1rem;
  width: 100%;
  margin-left: 200px;
  padding-left: 60px;
  padding-right: 180px;
  

    .icon-vaccine {
        width: 50px;
        height: 50px;
    }

    .vaccine-info {
        flex: 1;
    }
}