.bar-profile {
    display: flex;
    margin-top: 71px;
    padding-left: 250px;
    height: 50px;
    width: 100%;
    text-align: center;
    background-color: #f5f5f5;
    border: 1px solid #B2B2B2;

}


.id-leftbar {
    height: 100%;
    width: 40%;
    
    span {
        display: flex;
        padding: 25px 0 0 10px;
        font-weight: bold;
        font-size: 14px;
    }
}

.id-rightbar {
    padding: 6px 0 0 0;

    p-selectbutton {
        margin-left: 10px;
    }
}

.cartela-vacinas-user .vaccine {
    width: 100%;
    margin-left: 200px;
    padding-top: 15px;
    padding-left: 50px;
    display: flex;

    ul {
        list-style-type: none;
    }

    p {
        padding-left: 15px;
    }

    span {
        padding-left: 15px;
    }

    .dose{
        font-size: 12px;
        font-weight: bold;
    }
}

.vaccine-item {
  display: flex;
  align-items: flex-start; /* alinha pela parte de cima */
  gap: 1rem; /* espaçamento entre imagem e texto */
  margin-bottom: 1rem;
  padding: 1rem;

    .icon-vaccine {
        width: 50px;
        height: 50px;
    }

    .vaccine-info {
        flex: 1;
    }
}