* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.left {
    flex: 1;
    background: url('/screen1_l.jpeg') no-repeat center center/cover;
    position: relative;
}

.left .logo {
    position: absolute;
    top: 20px;
    left: 20px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.right {
    flex-direction: column;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/screen2_l.jpeg') no-repeat center center/cover;
}

.register-box {
    width: 420px;
    height: 495px;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.form-box {

    div {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

        ::ng-deep p-inputmask {
            width: 100%;

            input {
                width: 100%;
            }
        }

        ::ng-deep .p-datepicker {
            width: 100%;

            input {
                width: 100%;
            }
        }

    }

    .nome {
        height: 36px;
        width: 100%;
        padding-left: 10px;
    }
    .email {
        height: 36px;
        width: 100%;
        padding-left: 10px;
    }

}

.botao-cadastrar {
    margin-bottom: 10px;
}

.register-box h2 {
    margin-bottom: 25px;
    text-align: left;
}


.register-button {
    margin-top: 12px;
    width: 100%;
    height: 40px;
    padding: 10px;
    background: #0051FF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s ease-in-out;
}