<p-toast position="top-right"></p-toast>

<div class="container">

    <div class="left">
        <a class="logo" href="/">imune+</a>
    </div>
    
    <div class="right">
        <div class="register-box">
            <h2>Cadastro</h2>
            <div class="form-box">
                <div>
                    <label for="nome">Nome <span style="color: red;" title="Campo obrigatório">*</span></label>
                    <input pInputText class="nome" placeholder="Digite seu nome completo.." required [(ngModel)]="form.nome" />
                </div>
            
                <div>
                    <label for="cpf">CPF <span style="color: red;" title="Campo obrigatório">*</span></label>
                    <p-inputmask mask="999.999.999-99" class="cpf" placeholder="000.000.000-00" required  [(ngModel)]="form.cpf"></p-inputmask>
                </div>
            
                <div>
                    <label for="data-nascimento">Data de Nascimento <span style="color: red;" title="Campo obrigatório">*</span></label>
                    <p-datepicker class="data-nascimento" dateFormat="dd/mm/yy" placeholder="Selecione sua data de nascimento" required [(ngModel)]="form.dataNascimento" /> 
                </div>

                <div>
                    <label for="email">E-mail <span style="color: red;" title="Campo obrigatório">*</span></label>
                    <input type="text" class="email" pInputText placeholder="Digite seu e-mail.."  [(ngModel)]="form.email" /> 
                </div>

                <div>
                    <label for="telefone">Telefone <span style="color: red;" title="Campo obrigatório">*</span></label>
                    <p-inputmask mask="(99) 99999-9999" placeholder="(00) 90000-0000" [(ngModel)]="form.telefone" (ngModelChange)="validarTelefone()" /> 
                </div>
            </div>
            <div class="botao-cadastrar">
                <button (click)="salvar()" class="register-button">Próximo</button>
            </div>

            <div *ngIf="telefoneInvalido" class="aviso-numero" style="color: red; font-size: 12px;">
                O número de telefone deve começar com 9 após o DDD.
            </div>
        </div>
    </div>
</div>