<p-toast position="top-right"></p-toast>

<div class="container">

    <div class="left">
        <a class="logo" href="/">imune+</a>
    </div>

    <div class="right">
        <div class="new-passw-rec">
            <h2>Nova Senha</h2>

            <form>
                <div>
                    <label for="text">Nova senha</label>
                    <p-password class="new_passw" maxlength="150" [(ngModel)]="form.senha" name="password_hash" placeholder="Digite sua nova senha.." [feedback]="false" required />
                </div>
                
            
                <div>
                    <label for="text">Confirme sua nova senha</label>
                    <p-password class="new_passw" maxlength="150" [(ngModel)]="confirmarSenha" name="confirmarSenha" placeholder="Digite novamente sua senha.." [feedback]="false" required />
                </div>
                <p-button class="submit-btn" type="submit" (onClick)="cadastrarSenha()" label="Alterar senha" severity="info" />
                <a href="/esqueceu-senha" class="back-reset">Cancelar</a>
            </form>
    </div>
</div>