<div class="container">

    <div class="left">
        <div class="logo">imune+</div>
    </div>

    <div class="right">
        <div class="login-box">
            <h2>Nova Senha</h2>

            <form>
                <label for="text">Nova senha</label>
                
                <input type="text" id="text" placeholder="Digite sua nova senha" required>
            
                <label for="text">Confirme sua nova senha</label>
                <input type="text" placeholder="Digite novamente sua senha">
                
                <div class="requisitos-senha">
                    <p>Requisitos da senha:</p>
                    <ul>
                        <li>Deve ter entre 8 a 150 caracteres</li>
                        <li>Deve conter pelo menos uma letra maiúscula e uma minúscula</li>
                        <li>Deve conter pelo menos um número</li>
                        <li>Pode incluir os seguintes símbolos: ! # $ % & ( ) * + - . : ; ?</li>
                    </ul>
                </div>

                <button pButton class="login-button">Próximo</button>
                <a href="#" class="forgot-password">Cancelar</a>
            </form>
    </div>
</div>