<div class="container">

    <div class="left">
        <a class="logo" href="/">imune+</a>
    </div>

    <div class="right">
        <div class="new-passw-rec">
            <h2>Nova Senha</h2>

            <form>
                <div>
                    <label for="text">Nova senha</label>
                    <p-password class="new_passw" maxlength="150" placeholder="Digite sua nova senha.." [feedback]="false" required />
                </div>
                
            
                <div>
                    <label for="text">Confirme sua nova senha</label>
                    <p-password class="new_passw" maxlength="150" placeholder="Digite novamente sua senha.." [feedback]="false" required />
                </div>
                
                <div class="requisitos-senha">
                    <p>Requisitos da senha:</p>
                    <ul>
                        <li>Deve ter entre 8 a 150 caracteres</li>
                        <li>Deve conter pelo menos uma letra maiúscula e uma minúscula</li>
                        <li>Deve conter pelo menos um número</li>
                        <li>Pode incluir os seguintes símbolos: ! # $ % & ( ) * + - . : ; ?</li>
                    </ul>
                </div>

                <p-button class="submit-btn" type="submit" label="Alterar senha" severity="info" />
                <a href="/esqueceu-senha" class="back-reset">Cancelar</a>
            </form>
    </div>
</div>