<div class="bar-profile">
    <span>Meu Perfil</span>
</div>

<div class="profile-card">

    <div class="profile-user">
        <img src="default-icon.jpg" alt="Foto de perfil" class="profile-user-icon">
        <p></p>
        @if (this.alterarInfo) {
            <p-button label="Alterar Dados" severity="contrast" (click)="mostrarInputs()"/>
        } @else {
            <p-button label="Salvar alterações" (click)="salvarAlteracao()" severity="success" />
        }
    </div>

    <div class="information-user1">
        <div>
            <p>Nome civil</p>
            <p class="nome-user"></p>
        </div>

        <div>
            <p>CPF</p>
            <p class="cpf-user"></p>
        </div>

        <div>
            <p>Data de Nascimento</p>
            <p class="data-nascimento-user"></p>
        </div>

    </div>

    <div class="information-user2">
        @if (this.alterarInfo) {
            <div> 
                <p>Telefone</p>
                <p class="telefone-user"></p>
            </div>
        } @else {
            <div class="alterInfo"> 
                <p>Telefone</p>
                <p-inputmask mask="(99) 9-9999-9999" placeholder="Digite seu novo número.." /> <!-- declarar [(ngModel)]="value" -->
            </div>
        }
                
        @if (this.alterarInfo) {
            <div>
                <p>E-mail</p>
                <p class="email-user"></p>
            </div>
        } @else {
            <div class="alterInfo">
                <p>E-mail</p>
                <input type="text" class="email" pInputText placeholder="Digite seu novo e-mail.."  /> <!-- declarar [(ngModel)]="value" -->
            </div>
        }
    </div>

    @if (this.alterarInfo) {
        <div></div>
    } @else {
        <div class="info">
            <div class="change-notice">
                <p>Para alterar nome ou data de nascimento, é necessário comparecer a um posto próximo.</p>
            </div>
        </div>
    }
</div>