<div class="bar-profile">
    <div class="id-leftbar">
        <span>Histórico de Vacinas Pendentes</span>
    </div>

    <div class="id-rightbar">
        <p-button class="historico" label="Histórico" />
        <p-button label="Pendentes" severity="danger" />
    </div>
</div>

<div class="cartela-vacinas-user">
    <div class="vaccine">
        <img src="vaccine-valid.png" alt="Vacina" class="icon-vaccine">
        <p>Hepatite B</p>
        <span>3 doses, de acordo com a situação vacinal</span>
    </div>
</div>