<!-- <div class="form-container">
  <div class="top">
    <img id="fotoUsuario" src="/default-icon.jpg" alt="Foto do Usuário" class="foto-usuario">
  </div>

  <div class="left-form">
    <div class="form-row">
      <label>Nome</label>
      <input type="text" pInputText placeholder="Digite o nome completo.." [(ngModel)]="form.nome_pro" />
    </div>

    <div class="form-row">
      <label>Usuário</label>
      <input type="text" pInputText placeholder="Digite o nome de usuário.." [(ngModel)]="form.usuario" />
    </div>

    <div class="form-row">
      <label>Senha</label>
      <input type="text" pInputText placeholder="Digite uma senha.." [(ngModel)]="form.password_prof" />
    </div>

    <div class="form-row">
      <label>Cargo</label>
      <p-select [options]="userTypes" [(ngModel)]="form.cargo_prof" optionLabel="name" optionValue="name"placeholder="Selecione o cargo" class="w-full md:w-56" /></div>
  </div>

  <div class="buttons">
    <p-button (click)="salvar()" label="Registrar usuário" severity="success" />
  </div>
</div> -->