<div class="form-container">
  <div class="top">
    <img id="fotoUsuario" src="/default-icon.jpg" alt="Foto do Usuário" class="foto-usuario">
  </div>

  <div class="left-form">
    <div class="form-row">
      <label>Nome</label>
      <input type="text" pInputText />
    </div>

    <div class="form-row">
      <label>Usuário</label>
      <input type="text" pInputText />
    </div>

    <div class="form-row">
      <label>Senha</label>
      <input type="text" pInputText />
    </div>

    <div class="form-row">
      <label>Cargo</label>
      <input type="text" pInputText />
    </div>
  </div>

  <div class="buttons">
    <p-button label="Remover perfil" variant="outlined" severity="danger" />
    <p-button label="Cadastrar" severity="success" />
  </div>
</div>
