* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.background-box {
  background: linear-gradient(to top left, #0052cc, #66aaff);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #ffffff;
  width: 800px;
  height: 500px;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.left-panel {
  background-color: #e6f0ff;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.illustration {
  max-width: 200px;
}

.right-panel {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 80%;
  max-width: 300px;
}
.login-box h2 {
  margin-bottom: 20px;
}

.login-box label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.login-box button:hover {
  background-color: #218838;
}
  
