* {
  margin: 0;
}

header {
    height: 60px;
    width: 100%;
    background-color: #E1E1E1;
    display: flex;
    align-items: center;

    .navbar-right {
      margin-left: 20px;
    }

    .navbar-left{
        display: flex;
        gap: 20px;
        margin-left: auto;
        align-items: center;
        width: 400px;

        span {
            display: flex;
            font-size: 17px;
        }

        ::ng-deep input.p-inputtext {
            display: flex;
            height: 40px;
            width: 300px;
            margin-right: 20px;
        }
    }
}

.registered-professionals {
    background-color: #F0F0F0;
    
    .professionals {
        display: flex;
        align-items: center;
        border: 1px solid #B7B7B7;
        height: 85px;

        .right-info {
           display: flex;
           margin-left: 30px;
        }

        .job-info {
            margin-left: auto;
            display: flex;
            align-items: center;
            gap: 30px;
            padding: 0 25px 0 20px;
            height: 36px;
            width: 150px;
            border-left: 1px solid #B7B7B7;
            justify-content: center;
        }

        .left-info {
            display: flex;
            align-items: center;
            padding: 0 25px 0 20px;
            // border-left: 1px solid #B7B7B7;
        }
    }
}

// CADASTRAR FUNCIONÁRIO

.overlay-fundo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6); /* preto com 60% de opacidade */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* garantir que fique por cima de tudo */
}

.foto-upload-label {
  cursor: pointer;
  display: inline-block;
}

.foto-usuario {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
  border: 2px solid #ccc;
}

.overlay-fundo.hidden {
  display: none;
  z-index: -1;
}

.form-container {
  height: 425px;
  width: 490px;
  padding: 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  border-radius: 8px;
  background-color: #fff;
  align-items: center;
  position: fixed;
  margin-top: 50px;
  z-index: 10000;
}

.foto-usuario {
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  object-fit: cover;
  justify-self: center;
}

.left-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
  margin-left: 5px;
}

.form-row {
  display: grid;
  grid-template-columns: 70px 350px; /* label 100px, input ocupa o resto */
  align-items: center;

  ::ng-deep p-password input {
    height: 35px;
    width: 350px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}

.form-row input {
  height: 35px;
  max-width: 350px;
  padding: 5px;
  border: 1px solid #ccc;
}

.buttons {
  display: flex;
  justify-content: space-between; /* empurra os itens para as extremidades */
  align-items: center; /* alinha verticalmente (opcional) */
  width: 100%; /* ocupa toda a largura disponível */

  ::ng-deep p-button button {
    height: 29px;
    font-size: 14px;
  }
}