<div class="container">
    <header>
        <div class="navbar-right">
            <p-button label="Cadastrar" (click)="cadastrarUser()" severity="contrast"></p-button>
        </div>

        <div class="navbar-left">
            <span>Pesquisar</span>

            <p-floatlabel variant="in">
                <input pInputText id="in_label" autocomplete="off" /><!-- [(ngModel)]="value2" -->
                <label for="in_label">Procure por um usuário...</label>
            </p-floatlabel>
        </div>
    </header>

    <div class="registered-professionals">

        <div class="professionals">
            <div class="right-info">
                <strong class="name"></strong>
            </div>

            <div class="job-info">
                <p class="role"></p>
            </div>

            <div class="left-info">
                <p class="cpf"></p>
                <p-button label="Acessar" (click)="alterarUserProfile()" severity="contrast" />
            </div>
        </div>
    </div>

    @if(cadastrar === true) {
        <app-cadastrar-profissional></app-cadastrar-profissional>
    }
    @else {}

    @if(alterarPerfil == true){
        <app-alterar-dados-profissional></app-alterar-dados-profissional>
    }
    @else {}
</div>