<div class="container">
    <header>
        <div class="navbar-right">
            <p-button *ngIf="cadastrar" label="Cadastrar" (click)="alternarEdicao()" severity="contrast"></p-button>
        </div>

        <div class="navbar-left">
            <span>Pesquisar</span>

            <p-floatlabel variant="in">
                <input pInputText id="in_label" autocomplete="off" /><!-- [(ngModel)]="value2" -->
                <label for="in_label">Procure por um usuário...</label>
            </p-floatlabel>
        </div>
    </header>

    <div class="registered-professionals">

        <div class="professionals">
            <div class="right-info">
                <strong class="name"></strong>
            </div>

            <div class="job-info">
                <p class="role"></p>
            </div>

            <div class="left-info">
                <p class="cpf"></p>
                <p-button label="Acessar" severity="contrast" />
            </div>
        </div>
    </div>

    <app-cadastrar-profissional *ngIf="!cadastrar"></app-cadastrar-profissional>
</div>