<div class="container">
  <header>
    <nav class="navbar">

      <div class="navbar-left">
        <span class="logo">imune+</span>
        <div class="list-Options">
          <ul>
            <li>Suas Vacinas</li>
          </ul>
        </div>
      </div>

      <div class="navbar-right">
        <img src="/default-icon.jpg" alt="Foto de perfil" class="profile-user-icon">
        <span class="user-name-val"></span>
        <a class="pi pi-chevron-down" (click)="mostrarCard()"></a>
      </div>

    </nav>

    <div class="cardUserProfile">
      @if(dadosUsuario === true) {
        <app-profile-card></app-profile-card>
      }
    </div>

  </header>

  <div class="cards-container">
    <div class="card-announcement-one">
      <img src="/vacina_sempre_brasil.png" alt="vacinabrasil_campanha">
    </div>
    <div class="announcement-card-two"></div>
  </div>

  <div class="card-poster">
    <div class="poster-card-img"></div>
  </div>
</div>

<div class="second-page">
  <div class="campaign-card">
    <h1>Campanhas</h1>
    <p>A vacinação é reconhecida como uma das mais eficazes estratégias para preservar  a saúde da população e
      fortalecer uma sociedade saudável e resistente.</p>
  </div>

  <div class="cards-campaign-list">
    <div class="card-campanha-1"></div>
    <div class="card-campanha-2"></div>
    <div class="card-campanha-3"></div>
    <div class="card-campanha-4"></div>
  </div>

</div>

<!-- <div class="third-page">

  <div class="contact-us">
    <div class="left">
      <h1>Receba lembretes no Telegram!</h1>
      <p>Nosso sistema agora permite que você se cadastre rapidamente e receba lembretes</p>
      <p>automáticos pelo Telegram sobre as vacinas que precisa tomar.</p>
      <p>Nunca mais perca uma dose importante!</p>
    </div>
    <div class="right">
      <img src="/cellphone.png" alt="cellphone-contact-us" class="img-cellphone">

    </div>

  </div>

</div>

<footer class="footer-blue">
  <div class="canal-comunicacao">
    <div class="img-canal">
      <img src="logo-canal-imune.PNG" alt="Logo Imune+">
    </div>
    <div class="bar"></div>
    <div class="c-texto">
      <span class="title">Ouvidoria geral IMUNE+</span>

      <span class="texto">
        Teleatendente: de segunda-feira <br>
        a sexta-feira, das 8h às 20h,<br>
        e aos sábados, das 8h às 18h.
      </span>
    </div>

  </div>

</footer> -->