<p-toast position="bottom-right"></p-toast>

<main class="main-conten">

    <!-- VALIDAÇÃO / REMOVER -->

    @if(validarVacina === true) {
        <div class="container-validar-vacina-box">
            <div class="validar-vacina-box">
                <div class="info">
                    <span>Validação de vacina</span>
                    <small class="info-vacina">{{ vacinaSelecionada?.nome_vacina }}</small>
                </div>

                <div class="buttons"> 
                    <p-button label="Validar" (click)="validarVacinaSelecionada()" severity="success" class="validarButton" />
                    <p-button label="Cancelar" (click)="validarVacina = false" severity="danger" class="removerButton" />
                </div>
            </div>
        </div>
    }
    @else {
    }

    @if(removerValidacaoVacina === true) {
        <div class="container-validar-vacina-box">
            <div class="remover-vacina-box">
                <div class="info">
                    <span>Retirar validação de vacina</span>
                    <small class="info-vacina">{{ vacinaSelecionada?.nome_vacina }}</small>
                </div>

                <div class="buttons-rmv">
                    <p-button label="Remover validação" (click)="removerValidacaoVacinaSelecionada()" [raised]="true" severity="danger" class="removerButton" />
                    <p-button label="Cancelar" (click)="removerValidacaoVacina = false" severity="secondary" class="cancelaButton" />
                </div>
            </div>
        </div>
    }
    @else {
    }

    <div class="form-container">
        <div class="left-form">
            <label for="cpf">CPF</label>
            <p-inputmask (ngModelChange)="aoDigitarCpf($event)" (keydown.enter)="buscarDadosPaciente()" id="cpf" mask="999.999.999-99" placeholder="Insira o número de CPF.." [(ngModel)]="paciente.cpf" name="cpf"></p-inputmask>

            <label for="nome">Nome</label>
            <input [readonly]="!podeEditar" class="input-info" [(ngModel)]="paciente.nome_completo" name="nome" />

            <label for="data">Data de Nascimento</label>
            <p-inputmask mask="99/99/9999" [readonly]="!podeEditar" [(ngModel)]="paciente.data_nascimento" name="data"/>

            <label for="telefone">Telefone</label>
            <p-inputmask mask="(99) 99999-9999" [readonly]="!podeEditar" [(ngModel)]="paciente.telefone" name="telefone"/>

            <label for="email">E-mail</label>
            <input [readonly]="!podeEditar" class="input-info" [(ngModel)]="paciente.email" name="email"/>
        </div>

        <div class="right-photo">

            <img id="fotoUsuario" src="" alt="Foto do Usuário" class="foto-usuario">
                    
            @if (this.podeEditar) {
                <p-button label="Salvar alterações" (click)="salvarAlteracoes()" severity="success" />
            } @else {
                <p-button label="Alterar Dados" (click)="alternarEdicao()" severity="contrast" />
            }
        </div>
    </div>

    <div class="tabs">
        <div class="id-leftbar"><span>Histórico de Vacinas</span></div>
        <div class="id-rightbar"><p-selectbutton [options]="stateOptions" [(ngModel)]="value" optionLabel="label" optionValue="value" aria-labelledby="basic" /></div>
    </div>

    <div class="vacina-tab" style="display: block;">
        <div class="vacina-item" *ngFor="let vacina of vacinasFiltradas"> <!-- Template da vacina, cada uma vai ser nessa estilização -->
            <div class="vacina-img"><img [src]="value ? '/vaccine-valid.png' : '/vaccine-pending.png'" alt="Vacina" /></div> 
            <div>
                <strong>{{ vacina.nome_vacina }}</strong>
                <p>{{ vacina.descricao_vacina }}</p>
                <small>{{ vacina.tipo_dose }}</small>
            </div>
                    
            <div class="icons"> <!-- botões de validação -->
                <p-button icon="pi pi-check" [rounded]="true" (click)="confirmValidarVacina(vacina)" /> <!-- Validar -->
                <p-button icon="pi pi-times" [rounded]="true" severity="danger" (click)="confirmRemoverVacina(vacina)" /> <!-- Retirar validação -->
            </div>
        </div>
    </div>

</main>