<div class="cardProfile">

    <div class="profileIcon">
        <img src="default-icon.jpg" alt="Foto de perfil" class="profile-user-icon">
        <span class="user-name-val"></span>
    </div>

    <div class="profileDados">
        <div>
            <p>CPF</p>
            <span></span>
        </div>

        <div>
            <p>Data de Nascimento</p>
            <span></span>
        </div>

        <div>
            <p>Telefone</p>
            <span></span>
        </div>

        <div>
            <p>E-mail</p>
            <span></span>
        </div>
        <p-button label="Ver Perfil" severity="contrast" />
    </div>

    <div class="lineDivider">
        <div></div>
    </div>

    <div class="desc">
        <p-avatar icon="pi pi-sign-out" />
        <span class="user-name-val">Desconectar-se</span> 
    </div>
</div>