.cardProfile {
    border-radius: 2%;
    box-shadow: -5px 6px 7px 0px rgba(0, 0, 0, 0.20);
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 500px;
    width: 300px;


    .profileIcon {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        .user-name-val {
            margin-top: 15px;
        }
    }

    .profileIcon img {
        margin-top: 15px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
    }
}

.cardProfile .profileDados {
    margin-top: 10px;
    margin-left: 30px;

    div {
        
        p {
            height: 5px;
        }
        
        span {
            font-size: 14px;
            color: #5A5A5A;
        }
    }

    ::ng-deep .p-button {
        margin-top: 20px;
        width: 260px;
        height: 40px;
        padding: 10px;
    }
}

.lineDivider {
    div {
        margin-top: 15px;
        width: 100%;
        height: 1px;
        background-color: #e6e6e6;
        flex-grow: 1;
    }
}

.cardProfile .desc {
    margin-top: 7px;
    margin-left: 25px;
}

.user-name-val {
    cursor: pointer;
}