<div class="container">

    <div class="left">
      <a class="logo" href="/">imune+</a>
    </div>
    
    <div class="right">
      <div class="reset-pswd">
        <h2>Esqueci minha senha</h2>
        <p>Para redefinir sua senha, confirme seu telefone<br> e lhe enviaremos um código de segurança.</p>

        <form class="form-radio" onsubmit="delayedSubmit(event)">
          <div class="field-radio">
            <input type="radio" id="email" name="recoveryMethod" [(ngModel)]="opcaoSelecionada" value="email" required />
            <label for="email">E-mail<br><span class="email_user"></span></label>
          </div>

          <div class="field-radio">
            <input type="radio" id="telefone" [(ngModel)]="opcaoSelecionada" value="telefone" name="recoveryMethod" required checked />
            <label for="telefone">Telefone<br><span class="number_user"></span></label>
          </div>

          <p *ngIf="opcaoSelecionada" [routerLink]="['/sem-acesso', opcaoSelecionada]" class="link-info">Perdi acesso a este {{ opcaoSelecionada }}</p>

          <p-button type="submit" label="Próximo" severity="info" />
          <a routerLink="/login" class="forgot-password">Cancelar</a>
        </form>
      </div>
    </div>
</div>