* {
    margin: 0;
}

header {
    height: 60px;
    width: 100%;
    background-color: #E1E1E1;
    display: flex;
    align-items: center;

    .navbar-right {
       display: flex;
       margin-left: 15px;

       p-select {
        margin-right: 10px;
       }
    }

    .navbar-left{
        display: flex;
        margin-left: auto;
        align-items: center;
        gap: 30px;

        span {
            font-size: 17px;
        }

        ::ng-deep input.p-inputtext {
            height: 40px;
            width: 300px;
            margin-right: 20px;
        }
    }
}

.cartilha-vacina {
    background-color: #F0F0F0;


    .vacina {
        display: flex;
        align-items: center;
        border: 1px solid #B7B7B7;
        height: 120px;

        img {
           display: flex;
           margin-left: 30px;
        }

        .informacoes {
            margin-left: 15px;
            display: flex;
            flex-direction: column;
            align-items: left;

            padding: 0 0 0 20px;

            .nome-vacina {
                font-size: 18px;
                display: flex;
                margin-bottom: 10px;
            }

            .descricao-vacina{
                font: 10px;
                display: flex;
                margin-bottom: 5px;
            }

            .tipo-dose-vacina{
                font-size: 12px;
                display: flex;
            }
        }
    }
}


.cadastrar-vacina-box {
    height: 360px;
    width: 700px;
    border-radius: 8px;
    background-color: #fff;
    padding-top: 25px;
    margin-top: 20px;
    margin-left: 20%;
    position: fixed;
    z-index: 1000;

    justify-content: center;
    align-items: center;

    p {
        margin-left: 25px;
        margin-bottom: 25px;
    }

    .form {
        flex-direction: column;
        display: flex;
        gap: 20px;
        max-width: 700px;

        .inputs-info {
            margin-left: 45px;
            display: grid;
            grid-template-columns: 100px 1fr;
            align-items: center;
            width: 600px;
            gap: 10px;
        }
    }

    .button {
        margin-top: 30px;
        margin-right: 25px;
        display: flex;
        justify-content: flex-end;
    }
}