@if (cadastrarVac === true){
    <div class="cadastrar-vacina-box">
        <p>Registrar vacina</p>
        <div class="form">
            <div class="inputs-info">
                <label>Nome</label>
                <input type="text" pInputText placeholder="Digite o nome da vacina.." />
            </div>
            <div class="inputs-info">
                <label>Descrição</label>
                <input type="text" pInputText placeholder="Digite a descrição da vacina.." />
            </div>
            <div class="inputs-info">
                <label>Faixa Etária</label>
                <p-select [options]="ageRanges" [(ngModel)]="selectedAgeRange" optionLabel="name" placeholder="Selecione a faixa etária" class="w-full md:w-56" />
            </div>
            <div class="inputs-info">
                <label>Dose</label>
                <input type="text" pInputText placeholder="Digite o tipo de dose da vacina.." />
            </div>
        </div>
        <div class="button">
            <p-button label="Registrar vacina" severity="success" />
        </div>
    </div>
}
@else {}

<div class="container">
    <header>
        <div class="navbar-right">
            <p-select [options]="ageRanges" [(ngModel)]="selectedAgeRange" (ngModelChange)="filtrarVacinas()" optionLabel="name" placeholder="Faixa etária" class="w-full md:w-56" />
            <p-button *ngIf="cargo === 'Administrador'" label="Cadastrar"  (click)="cadastrarVacina()" severity="contrast"></p-button>
        </div>
        <div class="navbar-left">
            <span>Pesquisar</span>

            <p-floatlabel variant="in">
                <input pInputText id="in_label" [(ngModel)]="filtroPesquisa" (input)="filtrarVacinas()" autocomplete="off" />
                <label for="in_label">Procure por uma vacina...</label>
            </p-floatlabel>
        </div>
    </header>

    <div class="cartilha-vacina" *ngFor="let vacina of vacinasFiltradas">
        <div class="vacina">
            <img src="/vaccine-valid.png" alt="vacina">
            <div class="informacoes">
                <strong class="nome-vacina"> {{ vacina.vacinas_nome }} </strong>
                <p class="descricao-vacina"> {{ vacina.descricao }} </p>
                <strong class="tipo-dose-vacina"> {{ vacina.doses }} </strong>
            </div>
        </div>
    </div>

</div>