<p-toast position="bottom-right" [baseZIndex]="10000"></p-toast>

@if (cadastrarVac === true){
    <div class="overlay-fundo">
        <div class="cadastrar-vacina-box">
            <p>Registrar vacina</p>
            <div class="form">
                <div class="inputs-info">
                    <label>Nome <span style="color: red;" title="Campo obrigatório">*</span></label>
                    <input type="text" pInputText placeholder="Digite o nome da vacina.." [(ngModel)]="form.vacinas_nome" />
                </div>
                <div class="inputs-info">
                    <label>Descrição <span style="color: red;" title="Campo obrigatório">*</span></label>
                    <input type="text" pInputText placeholder="Digite a descrição da vacina.." [(ngModel)]="form.descricao" />
                </div>
                <div class="inputs-info">
                    <label>Faixa Etária <span style="color: red;" title="Campo obrigatório">*</span></label>
                    <p-select [options]="ageRanges" [(ngModel)]="form.faixa_etaria" optionValue="name" optionLabel="name" placeholder="Selecione a faixa etária" class="w-full md:w-56"></p-select>
                </div>
                <div class="inputs-info">
                    <label>Dose <span style="color: red;" title="Campo obrigatório">*</span></label>
                    <input type="text" pInputText placeholder="Digite o tipo de dose da vacina.." [(ngModel)]="form.doses" />
                </div>
            </div>
            <div class="button">
                <p-button label="Registrar vacina" (click)="salvar()" [disabled]="botaoDesativado" severity="success" />
            </div>
        </div>
    </div>
}
@else {}

<div class="container">
    <header>
        <div class="navbar-right">
            <p-select [options]="ageRanges" [(ngModel)]="selectedAgeRange" (ngModelChange)="filtrarVacinas()" optionLabel="name" placeholder="Faixa etária" class="w-full md:w-56" />
            <p-button *ngIf="cargo === 'Administrador'" label="Cadastrar"  (click)="cadastrarVacina()" severity="contrast"></p-button>
        </div>
        <div class="navbar-left">
            <span>Pesquisar</span>

            <p-floatlabel variant="in">
                <input pInputText id="in_label" [(ngModel)]="filtroPesquisa" (input)="filtrarVacinas()" autocomplete="off" />
                <label for="in_label">Procure por uma vacina...</label>
            </p-floatlabel>
        </div>
    </header>

    <div class="cartilha-vacina" *ngFor="let vacina of vacinasFiltradas">
        <div class="vacina">
            <img src="/vaccine-valid.png" alt="vacina">
            <div class="informacoes">
                <strong class="nome-vacina"> {{ vacina.vacinas_nome }} </strong>
                <p class="descricao-vacina"> {{ vacina.descricao }} </p>
                <strong class="tipo-dose-vacina"> {{ vacina.doses }} </strong>
            </div>
        </div>
    </div>

</div>