<div class="container">
    <header>
        <div class="navbar-right">
            <p-select [options]="ageRanges" [(ngModel)]="selectedAgeRange" optionLabel="name" placeholder="Faixa etária" class="w-full md:w-56" />
            <p-button label="Cadastrar" (click)="cadastrarVacina()" severity="contrast"></p-button>
        </div>
        <div class="navbar-left">
            <span>Pesquisar</span>

            <p-floatlabel variant="in">
                <input pInputText id="in_label" autocomplete="off" /><!-- [(ngModel)]="value2" -->
                <label for="in_label">Procure por uma vacina...</label>
            </p-floatlabel>
        </div>
    </header>

    <div class="cartilha-vacina">
        <div class="vacina">
            <img src="/vaccine-valid.png" alt="vacina">
            <div class="informacoes">
                <strong class="nome-vacina"></strong>
                <p class="descricao-vacina"></p>
                <strong class="tipo-dose-vacina"></strong>
            </div>
        </div>
    </div>

    @if (cadastrarVac === true){
        <app-adm-cadastrar-vacina></app-adm-cadastrar-vacina>
    }
    @else {}

</div>