* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.left {
    flex: 1;
    background: url('/screen1_l.jpeg') no-repeat center center/cover;
    position: relative;
}

.left .logo {
    position: absolute;
    top: 20px;
    left: 20px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
}

.right {
    flex-direction: column;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/screen2_l.jpeg') no-repeat center center/cover;
}

.register-password-box {
    width: 420px;
    height: 415px;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.register-password-box h2 {
    margin-bottom: 25px;
    text-align: left;
}

.requisitos-senha {
    font-size: 12px;

    p {
        margin-top: 7px;
        text-align: left;
    }

    ul {
        margin-left: 20px;
    }

    li {
        font-size: 11px;
        margin-top: 2px;
    }
}

.botao-cadastrar {
    margin-top: 25px;
    padding: 10px;

    ::ng-deep .p-button {
        height: 40px;
        width: 100%;
    }
}

form {
    div {
        display: flex;
        flex-direction: column;
        margin-bottom: 18px;
        width: 100%;

        p-password {
            margin-top: 5px;
            width: 100%;
        }
    }

    .senha,
    .senha-confirm {
        display: flex;
        flex-direction: column;
    }

    ::ng-deep p-password {
        width: 100%;

        .p-password {
            width: 100%;
        }

        .p-inputtext {
            width: 100% !important; // força o input a ocupar tudo
        }

        .p-password-input {
            width: 100%;
        }
    }

}
