<div class="container">

    <div class="left">
        <div class="logo">imune+</div>
    </div>
    
    <div class="right">
        <div class="register-box">
            <h2>Cadastro</h2>
            <form>
                <label for="nome">Nome <span style="color: red;" title="Campo obrigatório">*</span></label>
                <input type="text" id="nome" placeholder="Digite seu nome completo.." required>
                
                <label for="cpf">CPF <span style="color: red;" title="Campo obrigatório">*</span></label>
                <input type="text" id="cpf" placeholder="000.000.000-00" required>
                
                <label for="data-nascimento">Data de Nascimento <span style="color: red;" title="Campo obrigatório">*</span></label>
                <input type="date" id="data-nascimento" required>

                <label for="email">E-mail <span style="color: red;" title="Campo obrigatório">*</span></label>
                <input type="text" id="email" placeholder="Digite seu e-mail.." required>
            </form>
            <div class="botao-cadastrar">
                <button type="submit" class="register-button">Próximo</button>
            </div>
        </div>
    </div>
</div>