<p-toast position="top-right"></p-toast>

<div class="container">
    <div class="bar-profile">
        <span>Meu Perfil</span>
    </div>

    <div class="profile-card">

        <div class="profile-user">
            <img [src]="getImagemUrl()" alt="Foto de perfil" class="profile-user-icon" [class.clickable]="!alterarInfo" (click)="!alterarInfo && dispararInputImagem()">
            <p> {{ nome }} </p>
            @if (this.alterarInfo) {
                <p-button label="Alterar Dados" severity="contrast" (click)="mostrarInputs()"/>
            } @else {
                <p-button label="Salvar alterações" (click)="salvarAlteracao()" severity="success" />
            }

            @if (!alterarInfo) {
                <input type="file" accept="image/*" #inputImagem (change)="onFileSelected($event)" style="display: none;" />
                <!-- class="input-imagem" -->
            }
        </div>

        <div class="information-user1">
            <div>
                <p>Nome civil</p>
                <p class="nome-user"> {{ nome }} </p>
            </div>

            <div>
                <p>CPF</p>
                <p class="cpf-user"> {{ cpf }} </p>
            </div>

            <div>
                <p>Data de Nascimento</p>
                <p class="data-nascimento-user"> {{ data_nascimento | date:'dd/MM/yyyy' }} </p>
            </div>

        </div>

        <div class="information-user2">
            @if (this.alterarInfo) {
                <div> 
                    <p>Telefone</p>
                    <p class="telefone-user"> {{ telefone }} </p>
                </div>
            } @else {
                <div class="alterInfo"> 
                    <p>Telefone</p>
                    <p-inputmask mask="(99) 99999-9999" placeholder="Digite seu novo telefone.." [(ngModel)]="form.telefone" (ngModelChange)="validarTelefone()"  />
                    <div *ngIf="telefoneInvalido" class="aviso-numero" style="color: red; font-size: 12px;">
                        O número de telefone deve começar com 9 após o DDD.
                    </div>
                </div>
            }
                    
            @if (this.alterarInfo) {
                <div>
                    <p>E-mail</p>
                    <p class="email-user"> {{ email }} </p>
                </div>
            } @else {
                <div class="alterInfo">
                    <p>E-mail</p>
                    <input type="text" class="email" pInputText placeholder="Digite seu novo e-mail.." [(ngModel)]="form.email"  />
                </div>
            }
        </div>

        @if (this.alterarInfo) {
            <div></div>
        } @else {
            <div class="info">
                <div class="change-notice">
                    <p>Para alterar nome ou data de nascimento, é necessário comparecer a um posto próximo.</p>
                </div>
            </div>
        }
    </div>
</div>

