<div class="container">

    <div class="left">
        <a class="logo" href="/">imune+</a>
    </div>

    <div class="right">
        <div class="login-box">
            <h2>Login</h2>
            <div class="box-form">
                <div class="cpf">
                    <label for="cpf">CPF</label>
                    <p-inputmask mask="999.999.999-99" class="cpf-nb" placeholder="000.000.000-00" required required [(ngModel)]="form.cpf"></p-inputmask>
                </div>

                <div class="senha">
                    <label for="senha">Senha</label>
                    <p-password class="senha-ps" maxlength="150" [feedback]="false" placeholder="Digite sua senha.." required [(ngModel)]="form.senha" />
                </div>

                <p-button label="Login" (click)="logar()"/>
                <a routerLink="/esqueceu-senha" class="forgot-password">Esqueceu sua senha?</a>
            </div>
        </div>

        <div class="criar-cadastro">
            <div class="dividir">
                <div></div>
                <span>Ainda não tem conta?</span>
                <div></div>
            </div>
            <a routerLink="/cadastro" class="register">Crie seu cadastro!</a>
        </div>
    </div>
</div>